/*
 *     PAMA
 *     Copyright (C) 2016  Litote
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.contact-mean {
  position: relative;
  left: -18px;
  top: 5px;
}
.contact {
  background-color: rgba(200, 105, 105, 0.12);
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: -15px;
}
.coordinates {
   color :#673ab7 !important;
}
.hide {
  cursor:pointer;
  float:right;
  margin-top:-5px;
}
