<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<div class="contact">
  Contacter {{cooperator.firstName}} {{cooperator.lastName}} <md-icon md-tooltip="Cacher" class="hide" (click)="hide()">close</md-icon>
  <ul>
    <li><span>Par email :</span>
      <span>
          <a md-button href="mailto:{{cooperator.email}}" class="coordinates">
            {{cooperator.email}} <md-icon>contact_mail</md-icon>
          </a>

        </span>
    </li>
    <li *ngIf="cooperator.telephone"><span>Par téléphone :</span>
      <span class="coordinates">
          <a md-button href="tel:{{cooperator.telephone}}" class="coordinates">
            {{cooperator.telephone}}  <md-icon>contact_phone</md-icon>
          </a>

        </span>
    </li>
  </ul>
</div>

