<form *ngIf="product != null" (ngSubmit)="createOrUpdateProduct()" #productForm="ngForm">
  <md-card class="demo-card demo-basic">
    <md-toolbar *ngIf="product._id !== null" color="accent">Modifier un produit</md-toolbar>
    <md-toolbar *ngIf="product._id === null" color="accent">Ajouter un nouveau produit</md-toolbar>
    <md-card-content>

      <p></p>
      <md-input-container class="formInput"
                          dividerColor="{{ !productName.valid ? 'warn' : 'primary' }}">
      <input mdInput #name #productName="ngModel" name="productName" id="productName"
                placeholder="Nom du légume" [(ngModel)]="product.name"
                required>
        <md-hint [hidden]="productName.pristine || productName.valid">
          <span [hidden]="!productName.errors?.required">Le nom est obligatoire</span>
        </md-hint>
      </md-input-container>
      <p></p>
      <md-checkbox [checked]="product.isVegetable()"
                   (change)="product.setType('Vegetables', $event.checked)">
        Légumes
      </md-checkbox>
      <md-checkbox [checked]="product.isApplePear()"
                   (change)="product.setType('ApplePear', $event.checked)">
        Pommes et poires
      </md-checkbox>
      <p></p>
      <div *ngIf="product._id != null">

        <img *ngIf="!loadingImage"
             src="/assets/images/{{product.image256()}}.png" width="56px" height="56px"
             alt="{{product.name}}">
        <md-spinner *ngIf="loadingImage" class="spinner"></md-spinner>
        <br>
        <input type="file" ng2FileSelect [uploader]="uploader"/>
      </div>



    </md-card-content>
    <md-card-actions>
      <button type="button" *ngIf="product._id != null" md-button color="warn" (click)="deleteProduct()">Supprimer</button>
      <button type="button"  md-button color="primary" (click)="cancel()">Annuler</button>
      <button md-raised-button color="primary" type="submit" [disabled]="!productForm.form.valid">Valider</button>
    </md-card-actions>
  </md-card>
</form>
