<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card *ngIf="allProducts && recipe" class="demo-card demo-basic">
  <md-toolbar color="accent">{{recipe.title}}</md-toolbar>

  <md-card-content>
    <p>{{recipe.ingredientsScope}}</p>
    <h3><img *ngFor="let p of recipe.getProducts(allProducts)"  class="mat-card-avatar"
             src="/assets/images/{{p.image256()}}.png" title="{{p.name}}" alt="{{p.name}}"></h3>
    <ul>
      <li *ngFor="let i of recipe.ingredients">{{i}}</li>
    </ul>
    <div [innerHTML]="recipe.description">
    </div>
    <p>
      Recette complète sur <a href="{{recipe.referenceUrl}}">{{recipe.referenceUrl}}</a>
    </p>
  </md-card-content>
</md-card>
