<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-tab-group [(selectedIndex)]="selectedTab" (selectChange)="onTabChange($event.index)">
  <md-tab>
    <template md-tab-label>Distributions</template>
      <p>
        <button md-raised-button color="primary" routerLink="/admin/distribution/new">
          <md-icon class="button-icon">add</md-icon>
          Ajouter une distribution
        </button>
        <button md-button *ngIf="!displayOldDistributions" (click)="displayOldDistributions=true">Afficher les anciennes distributions</button>
        <button md-button *ngIf="displayOldDistributions" (click)="displayOldDistributions=false">Cacher les anciennes distributions</button>
      </p>
      <md-list>
        <div *ngFor="let d of distributions">
          <md-list-item *ngIf="displayOldDistributions || !d.doNotDisplayBecauseIsInThePast()">
            <img *ngIf="d.hasProduct()" md-list-avatar src="/assets/images/{{d.products[0].image256()}}.png">
            <img *ngIf="!d.hasProduct()" md-list-avatar src="/assets/images/vegetables_256.png">

            <h3 md-line><a routerLink="/admin/distribution/{{d._id}}">Panier du
              {{d.date | amDateFormat: 'D MMMM YYYY'}}</a></h3>
            <p md-line>
              <span class="subtitle"><distribution-types [distribution]="d" [cooperators]="[]"></distribution-types></span>
            </p>
            <p md-line>
              Livraison légumes : {{d.vegetablesListText()}}
            </p>
          </md-list-item>
        </div>
      </md-list>
  </md-tab>
  <md-tab>
    <template md-tab-label>Amapiens</template>
    <p>
    <button md-raised-button color="primary" routerLink="/admin/cooperator/new">
      <md-icon class="button-icon">add</md-icon>
      Ajouter un Amapien
    </button>
    </p>
      <md-list>
        <md-list-item *ngFor="let c of cooperators">
          <img md-list-avatar src="/assets/images/people.png" alt="photo">
          <h3 md-line><a routerLink="/admin/cooperator/{{c._id}}">{{c.firstName}} {{c.lastName}}</a></h3>
          <p md-line>
            <span> Amapien </span>
          </p>
        </md-list-item>
      </md-list>
  </md-tab>
  <md-tab>
    <template md-tab-label>Produits</template>
      <p>
        <button md-raised-button color="primary" routerLink="/admin/product/new">
          <md-icon class="button-icon">add</md-icon>
          Ajouter un type de produit
        </button>
      </p>


      <md-list>
        <md-list-item *ngFor="let p of products">
          <img md-list-avatar src="/assets/images/{{p.image256()}}.png" alt="{{p.name}}">
          <h3 md-line><a routerLink="/admin/product/{{p._id}}">{{p.name}}</a></h3>
        </md-list-item>
      </md-list>
  </md-tab>
</md-tab-group>

