<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->
<md-tab-group>
  <md-tab>
    <template md-tab-label>Rappel avant distribution</template>
    <md-card *ngIf="nextDistributionAlert">
      <md-card-title>
        <b>Rappel avant distribution</b>
      </md-card-title>
      <md-card-content>
        <p>
          Alerte envoyée chaque lundi vers 19h à tous les Amapiens inscrits à la distribution du mercredi.
        </p>
        <p> Titre :
          <input class="title" [(ngModel)]="nextDistributionAlert.title">
        </p>
        <p> Texte :
          <textarea class="textarea" rows="15" [(ngModel)]="nextDistributionAlert.message"></textarea>
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="saveAlert(nextDistributionAlert)">
          <md-icon class="button-icon">save</md-icon>
          Enregistrer
        </button>
        <button md-raised-button color="primary" (click)="testNextDistributionAlert()">
          <md-icon class="button-icon">send</md-icon>
          Tester l'alerte
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <template md-tab-label>Appel à volontaires</template>
    <md-card *ngIf="callForVolunteersAlert">
      <md-card-title>
        <b>Appel à volontaires</b>
      </md-card-title>
      <md-card-content>
        <p>
          Alerte envoyée chaque samedi vers 14h, si la distribution du mercredi n'a pas assez de participants inscrits.
          Les amapiens qui ont le moins participé aux distributions sont seuls destinataires du mail.
        </p>
        <p> Titre :
          <input class="title" [(ngModel)]="callForVolunteersAlert.title">
        </p>
        <p> Texte :
          <textarea class="textarea" rows="15" [(ngModel)]="callForVolunteersAlert.message"></textarea>
        </p>
        <p></p>
        <div *ngIf="lessparticipation">
          Liste des destinataires prévus :
          <ul>
            <li *ngFor="let p of lessparticipation">
              {{p.first}} distribution{{p.first > 1 ? 's' : ''}}
              <ul>
                <li *ngFor="let c of p.second">{{c.firstName}} {{c.lastName}}</li>
              </ul>
            </li>
          </ul>
        </div>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="saveAlert(callForVolunteersAlert)">
          <md-icon class="button-icon">save</md-icon>
          Enregistrer
        </button>
        <button md-raised-button color="primary" (click)="testCallForVolunteersAlert()">
          <md-icon class="button-icon">send</md-icon>
          Tester l'alerte
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
  <md-tab>
    <template md-tab-label>Demande de création de mot de passe</template>
    <md-card *ngIf="definePasswordAlert">
      <md-card-title>
        <b>Demande de création de mot de passe</b>
      </md-card-title>
      <md-card-content>
        <p>
          Chaque amapien n'ayant pas encore créé son mot de passe recevra un mail lui demandant de créer son mot de passe
          si vous cliquez sur le bouton "Envoyer à tous"
        </p>
        <p> Titre :
          <input class="title" [(ngModel)]="definePasswordAlert.title">
        </p>
        <p> Texte :
          <textarea class="textarea" rows="15" [(ngModel)]="definePasswordAlert.message"></textarea>
        </p>
      </md-card-content>
      <md-card-actions>
        <button md-button (click)="saveAlert(definePasswordAlert)">
          <md-icon class="button-icon">save</md-icon>
          Enregistrer
        </button>
        <button md-raised-button color="primary" (click)="testDefinePasswordAlert()">
          <md-icon class="button-icon">send</md-icon>
          Tester l'alerte
        </button>
        <button md-raised-button color="warn" (click)="sendDefinePasswordToAll()">
        <md-icon class="button-icon">warning</md-icon>
        Envoyer à tous
        </button>
      </md-card-actions>
    </md-card>
  </md-tab>
</md-tab-group>


<md-spinner *ngIf="sending" class="spinner"></md-spinner>
<p *ngIf="sent" style="color:green">
  Un mail d'exemple vous a été envoyé.
</p>
<p *ngIf="definePasswordSent" style="color:green">
  Un mail a été envoyé à chaque coopérateur pour lui demander de créer son mot de passe.
</p>
<p *ngIf="error" style="color:red">
  Une erreur est survenue lors de l'envoi du mail.
</p>
