<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="demo-card demo-basic">
  <md-toolbar color="accent">Distribution du {{distribution.date | amDateFormat: 'D MMMM YYYY à HH:mm'}}
    <my-date-picker
      [options]="{showTodayBtn:false,showClearDateBtn:false,width:0}"
      [locale]="'fr'"
      (dateChanged)="onDateChanged($event)"
      [selDate]="distribution.date"></my-date-picker>
  </md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #distributionForm="ngForm">
      <p>
      </p>
      <p>
        <md-checkbox [checked]="distribution.hasType('Vegetables')"
                     (change)="distribution.setType('Vegetables', $event.checked)">
          Légumes
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('Bread')"
                     (change)="distribution.setType('Bread', $event.checked)">
          Pain
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('Cheese')"
                     (change)="distribution.setType('Cheese', $event.checked)">
          Fromage
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('Egg')"
                     (change)="distribution.setType('Egg', $event.checked)">
          Oeufs
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('Chicken')"
                     (change)="distribution.setType('Chicken', $event.checked)">
          Poulet
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('ApplePear')"
                     (change)="distribution.setType('ApplePear', $event.checked)">
          Pommes et Poires
        </md-checkbox>
        <md-checkbox [checked]="distribution.hasType('RedFruit')"
                     (change)="distribution.setType('RedFruit', $event.checked)">
          Fruits Rouges
        </md-checkbox>
      </p>
      <p></p>
      <div *ngIf="distribution.hasType('ApplePear')" style="width: 300px; margin-bottom: 20px;">
        <h3>Pommes et Poires :</h3>
        <ng-select *ngIf="allProducts"
                   multiple="true"
                   name="applePearProducts"
                   [options]="allApplePearProducts"
                   [(ngModel)]="distribution.selectedApplePearProductsIds"
                   [allowClear]="true"
                   [placeholder]="'Aucun fruit sélectionné'"
                   (selected)="selected($event.value)"
                   (deselected)="deselected($event.value)"></ng-select>
      </div>
      <div style="width: 300px; margin-bottom: 20px;">
        <h3>Légumes :</h3>
        <ng-select *ngIf="allProducts"
                   multiple="true"
                   name="vegetableProducts"
                   [options]="allVegetableProducts"
                   [(ngModel)]="distribution.selectedVegetableProductsIds"
                   [allowClear]="true"
                   [placeholder]="'Aucun légume sélectionné'"
                   (selected)="selected($event.value)"
                   (deselected)="deselected($event.value)"></ng-select>
      </div>

      <md-card-actions>
        <button type="button" *ngIf="distribution._id.length != 0" md-button color="warn" (click)="delete()">Supprimer</button>
        <button type="button" md-button color="primary" (click)="cancel()">Annuler</button>
        <!--button *ngIf="!distribution.isInThePast()" md-raised-button color="primary" type="submit" [disabled]="!distributionForm.form.valid">Modifier</button-->
        <button md-raised-button color="primary" type="submit" [disabled]="!distributionForm.form.valid">Valider
        </button>

      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
