<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="demo-card demo-basic">
  <md-toolbar color="accent">{{cooperator.firstName}} {{cooperator.lastName}}</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #cooperatorForm="ngForm">
      <p>
        <md-input-container #firstNameContainer class="formInput" dividerColor="{{ !first.valid ? 'warn' : 'primary' }}">
        <input mdInput #firstName #first="ngModel" name="firstName" id="firstName"
                  placeholder="Prénom" [(ngModel)]="cooperator.firstName"
                  required>
          <md-hint [hidden]="first.pristine || first.valid">
            <span [hidden]="!first.errors?.required">Le prénom est obligatoire</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !last.valid ? 'warn' : 'primary' }}">
        <input mdInput #lastName #last="ngModel" name="lastName" id="lastName"
                  placeholder="Nom" [(ngModel)]="cooperator.lastName"
                  required>
          <md-hint [hidden]="last.pristine || last.valid">
            <span [hidden]="!last.errors?.required">Le nom est obligatoire</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !email.valid ? 'warn' : 'primary' }}">
        <input mdInput #email="ngModel" name="email" id="email"
                  placeholder="Email" [(ngModel)]="cooperator.email"
                  email>
          <md-hint [hidden]="email.pristine || email.valid">
            <span [hidden]="!email.errors?.email">L'email ne semble pas correct</span>
          </md-hint>
        </md-input-container>
      </p>
      <p [hidden]="!email.valid">
        <span *ngIf="requestPasswordCreationError" class="error">{{requestPasswordCreationError}}<br></span>
        <span *ngIf="requestPasswordCreationMessage" class="success">{{requestPasswordCreationMessage}}<br></span>
        <md-spinner *ngIf="requestPasswordCreationRequest" class="spinner"></md-spinner>
        <button *ngIf="!requestPasswordCreationRequest" md-button color="primary" (click)="requestPasswordCreation()">
          <md-icon>email</md-icon>
          Envoyer un email à l'utilisateur pour qu'il choisisse un mot de passe
        </button>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !telephone.valid ? 'warn' : 'primary' }}">
        <input mdInput #telephone="ngModel" name="telephone" id="telephone"
                  placeholder="Téléphone" [(ngModel)]="cooperator.telephone"
                  tel>
          <md-hint [hidden]="telephone.pristine || telephone.valid">
            <!-- TODO -->
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="primary">
        <input mdInput #address="ngModel" name="address" id="address"
                  placeholder="Adresse" [(ngModel)]="cooperator.address">
        </md-input-container>
      </p>
      <h5>Contrats</h5>
      <p>
        Coordinateur distribution
        <md-checkbox name="coordinator" [(ngModel)]="cooperator.coordinator"></md-checkbox>
        <md-list>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('Vegetables')"
                         (change)="cooperator.setContract('Vegetables', $event.checked)"
                         class="contract">
              Légumes
            </md-checkbox>

            <md-slide-toggle *ngIf="cooperator.hasContract('Vegetables')"
                             color="warn"
                             [checked]="cooperator.isReferent('Vegetables')"
                             (change)="cooperator.setReferent('Vegetables', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('Bread')"
                         (change)="cooperator.setContract('Bread', $event.checked)"
                         class="contract">
              Pain
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('Bread')"
                             color="warn"
                             [checked]="cooperator.isReferent('Bread')"
                             (change)="cooperator.setReferent('Bread', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('Cheese')"
                         (change)="cooperator.setContract('Cheese', $event.checked)"
                         class="contract">
              Fromage
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('Cheese')"
                             color="warn"
                             [checked]="cooperator.isReferent('Cheese')"
                             (change)="cooperator.setReferent('Cheese', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('Egg')"
                         (change)="cooperator.setContract('Egg', $event.checked)"
                         class="contract">
              Oeufs
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('Egg')"
                             color="warn"
                             [checked]="cooperator.isReferent('Egg')"
                             (change)="cooperator.setReferent('Egg', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('Chicken')"
                         (change)="cooperator.setContract('Chicken', $event.checked)"
                         class="contract">
              Poulet
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('Chicken')"
                             color="warn"
                             [checked]="cooperator.isReferent('Chicken')"
                             (change)="cooperator.setReferent('Chicken', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('ApplePear')"
                         (change)="cooperator.setContract('ApplePear', $event.checked)"
                         class="contract">
              Pommes et Poires
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('ApplePear')"
                             color="warn"
                             [checked]="cooperator.isReferent('ApplePear')"
                             (change)="cooperator.setReferent('ApplePear', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
          <md-list-item>
            <md-checkbox [checked]="cooperator.hasContract('RedFruit')"
                         (change)="cooperator.setContract('RedFruit', $event.checked)"
                         class="contract">
              Fruits Rouges
            </md-checkbox>
            <md-slide-toggle *ngIf="cooperator.hasContract('RedFruit')"
                             color="warn"
                             [checked]="cooperator.isReferent('RedFruit')"
                             (change)="cooperator.setReferent('RedFruit', $event.checked)">
              Référent
            </md-slide-toggle>
          </md-list-item>
        </md-list>
      </p>
      <h5>Role</h5>
      <p>
        <md-radio-group [(ngModel)]="cooperator.role" name="role">
          <md-radio-button [value]="getRole('Cooperator')">Normal</md-radio-button>
          <md-radio-button [value]="getRole('AmapAdmin')">Administrateur</md-radio-button>
          <md-radio-button [value]="getRole('TechAdmin')">Administrateur technique</md-radio-button>
        </md-radio-group>
      </p>
      <h5>Participations</h5>
      <p>
        <span *ngIf="participations.length == 0">N'a jamais participé cette année à la confection de paniers.</span>
        <span *ngIf="participations.length != 0">Inscrit {{participations.length}} fois pour la
          confection des paniers cette année.
        </span>
      </p>
      <md-card-actions>
        <div *ngIf="saveError" class="errorAction">Erreur : {{saveError}}</div>
        <button type="button" *ngIf="cooperator._id != null" md-button color="warn" (click)="deleteUser()">Supprimer</button>
        <button type="button" md-button color="primary" (click)="cancel()">Annuler</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!cooperatorForm.form.valid">
          {{cooperator._id ? 'Modifier' : 'Créer'}}</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
