<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="">
  <md-toolbar color="accent">Modification du mot de passe</md-toolbar>
  <md-card-content>
    <md-spinner *ngIf="sendChangePassword" class="spinner"></md-spinner>
    <p *ngIf="errorMessage" class="error">
      {{errorMessage}}
    </p>
    <p *ngIf="message" class="success">
      {{message}}
      <br><br>
      <a [routerLink]="['/login']">S'identifier</a>
    </p>
    <form *ngIf="!message" (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()" #changePasswordForm="ngForm">
      <p>
        <md-input-container #passwordInputContainer class="formInput">
        <input mdInput #passwordInput name="passwordInput" id="passwordInput"
                  placeholder="NOUVEAU MOT DE PASSE"
                  [(ngModel)]="password"
                  type="password"
                  required>
          <br>
          <md-hint class="password-hint" align="end">Au moins 8 caractères, avec au minimum une majuscule, une minuscule, un chiffre et un caractère spécial.</md-hint>
        </md-input-container>
      </p>
      <br>
      <p>
        <md-input-container class="formInput">
        <input mdInput #checkPasswordInput name="checkPasswordInput" id="checkPasswordInput"
                  placeholder="VERIFICATION NOUVEAU MOT DE PASSE"
                  [(ngModel)]="checkPassword"
                  type="password"
                  class="formInput"
                  required>

        </md-input-container>
      </p>
      <md-card-actions>
        <button type="button" md-button color="primary" [routerLink]="['/']">Annuler</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!changePasswordForm.form.valid">Modifier le mot de passe</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>


