<span *ngIf="loggedCooperator.isLogged() && coordinator()">
Coordinateur :
{{coordinator().firstName}} {{coordinator().lastName}}
<a md-button href="mailto:{{coordinator().email}}" class="coordinates"><md-icon
  class="coordinates">contact_mail</md-icon></a>
<a md-button *ngIf="coordinator().telephone" href="tel:{{coordinator().telephone}}" class="coordinates"><md-icon
  class="coordinates">contact_phone</md-icon></a>
</span>

<br>
Contrats
<span *ngFor="let type of distribution.types; let i =index;">
  <span class="typeLabel">{{displayDistributionType(type)}}</span><span *ngIf="!details">{{(i < distribution.types.length - 2 ? "," : (i === distribution.types.length - 2) ? " et" : "") }}</span>
  <span *ngIf="details">
  <span *ngFor="let ref of referents(type)" class="referent">
    <span *ngIf="loggedCooperator.cooperator">
      [{{ref.firstName}} {{ref.lastName}}
      <a md-button href="mailto:{{ref.email}}" class="coordinates"><md-icon class="coordinates">contact_mail</md-icon></a>
      <a md-button *ngIf="ref.telephone" href="tel:{{ref.telephone}}" class="coordinates"><md-icon class="coordinates">contact_phone</md-icon></a>]</span></span>{{(i < distribution.types.length - 2 ? "," : (i === distribution.types.length - 2) ? " et" : "") }}
    </span>
</span>

