<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<h1 md-dialog-title>Veuillez sélectionner votre rôle</h1>
<div md-dialog-content>
  <md-radio-group class="radio-group" [(ngModel)]="selectedChoice">
    <md-radio-button class="radio-button" *ngFor="let c of choices" [value]="c">
      {{c.label()}}
    </md-radio-button>
  </md-radio-group>
  <br>
</div>
<div md-dialog-actions>
  <button md-button (click)="dialogRef.close('cancel')">Annuler</button>
  <button md-button (click)="dialogRef.close('confirm')">Valider</button>
</div>
