/*
 *     PAMA
 *     Copyright (C) 2016  Litote
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.basket-status-ok {
  color: green;
}

.basket-status-none {
  color: red;
}

.basket-status-warn {
  color: orange;
}

.basket-status-icon {
  float: left;
  line-height: 12px;
  margin: 0 6px 0 0;
  width: 24px;
}

.inThePast-icon {
  float: inherit;
  color: green;
}

.mood-icon {
  float: right;
  color: green;
}

.participate {
  margin: 0;
}

.participate-mention {
  color: rgba(0, 0, 0, 0.54);
  font-style: italic;
}
