<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<p>
  <distribution-types
    [distribution]="distribution"
    [cooperators]="cooperators"
    [details]="distributionDetails"></distribution-types>
</p>
<div *ngIf="distribution.doNotDisplayBecauseIsInThePast()">
  La distribution s'est bien passée! Merci à tous
  <md-icon class="inThePast-icon">sentiment_satisfied</md-icon>
</div>

<div *ngIf="!distribution.doNotDisplayBecauseIsInThePast() && distribution.hasVegetableType()">
  <div class="basket-status-none" *ngIf="distribution.vegetablesAttendance == 0">
    <md-icon class="basket-status-icon">error</md-icon>
    Aucun amapien n'est inscrit à la distribution de légumes
  </div>
  <div class="basket-status-warn" *ngIf="distribution.vegetablesAttendance == 1">
    <md-icon class="basket-status-icon">warning</md-icon>
    1 seul amapien inscrit
  </div>
  <div class="basket-status-warn"
       *ngIf="distribution.vegetablesAttendance > 1 && distribution.vegetablesAttendance < 8">
    <md-icon class="basket-status-icon">warning</md-icon>
    {{distribution.vegetablesAttendance}} amapiens inscrits
  </div>
  <div class="basket-status-ok" *ngIf="distribution.vegetablesAttendance >= 8">
    <md-icon class="basket-status-icon">done</md-icon>
    {{distribution.vegetablesAttendance}} amapiens dispos
  </div>
</div>
<div *ngIf="!distribution.isInThePast() && loggedCooperator.isLogged() && distribution.hasVegetableType()">
  <md-slide-toggle *ngIf="distribution.vegetablesAttendance < 8 || participate"
                   class="participate"
                   color="primary"
                   [(ngModel)]="participate"
                   (ngModelChange)="toogleParticipate($event)">
    <div *ngIf="participate">
      <md-icon class="mood-icon">mood</md-icon>
      Vous êtes inscrit!
    </div>
    <div *ngIf="!participate">Inscrivez-vous</div>
  </md-slide-toggle>
  <br>
  <div *ngIf="userDistributionMention" class="participate-mention">
    <div *ngIf="participations.length == 0">Vous n'avez jamais participé à la confection de paniers</div>
    <div *ngIf="participations.length != 0">Vous vous êtes inscrit {{participations.length}} fois pour la
      confection des paniers
    </div>
  </div>
</div>
<div *ngIf="distributionDetails && loggedCooperator.isLogged()">
  <p *ngIf="loggedCooperator.isAdmin()">
    (Administrateur) :
    <md-select placeholder="Inscrire un amapien" [(ngModel)]="selectedCooperator" (change)="toogleCooperatorParticipate(true)">
      <md-option *ngFor="let c of allCooperators" [value]="c">{{ c.firstName }} {{ c.lastName }}</md-option>
    </md-select>
  </p>
  <br>
  <div *ngIf="distribution.vegetablesAttendance != 0">
    <md-card-title>Liste des inscrits à la distribution</md-card-title>
    <ul>
      <li *ngFor="let c of distribution.attendance">
        {{cooperatorInfo(c.cooperatorId).firstName}}
        {{cooperatorInfo(c.cooperatorId).lastName[0]}}
        - {{c.label()}}
        <span *ngIf="distribution.isInThePast()">
        <span *ngIf="!loggedCooperator.isAdmin()">
          -
          <span *ngIf="c.present">
               Présent
          </span>
          <span *ngIf="!c.present">
               Absent
          </span>
        </span>
        <span *ngIf="loggedCooperator.isAdmin()">
            - A été présent : <md-checkbox [(ngModel)]="c.present"
                                           (change)="updatePresence(c, $event.checked)"></md-checkbox>
          </span>
        </span>
        <span *ngIf="loggedCooperator.isAdmin()">
           <button md-mini-fab (click)="deleteParticipate(c.cooperatorId)" md-tooltip="Désinscrire"><md-icon>delete</md-icon></button>
        </span>


      </li>
    </ul>
  </div>
</div>
