<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="demo-card demo-basic">
  <md-toolbar color="accent">{{cooperator.firstName}} {{cooperator.lastName}} - Modifier mon compte
  </md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #cooperatorForm="ngForm">
      <p>
        <md-input-container #firstNameContainer class="formInput"
                            dividerColor="{{ !first.valid ? 'warn' : 'primary' }}">
          <input mdInput #firstName #first="ngModel" name="firstName" id="firstName"
                 placeholder="Prénom" [(ngModel)]="cooperator.firstName"
                 required>
          <md-hint [hidden]="first.pristine || first.valid">
            <span [hidden]="!first.errors?.required">Le prénom est obligatoire</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !last.valid ? 'warn' : 'primary' }}">
          <input mdInput #lastName #last="ngModel" name="lastName" id="lastName"
                 placeholder="Nom" [(ngModel)]="cooperator.lastName"
                 required>
          <md-hint [hidden]="last.pristine || last.valid">
            <span [hidden]="!last.errors?.required">Le nom est obligatoire</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !email.valid ? 'warn' : 'primary' }}">
          <input mdInput #email="ngModel" name="email" id="email"
                 placeholder="Email" [(ngModel)]="cooperator.email"
                 email>
          <md-hint [hidden]="email.pristine || email.valid">
            <span [hidden]="!email.errors?.email">L'email ne semble pas correct</span>
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="{{ !telephone.valid ? 'warn' : 'primary' }}">
          <input mdInput #telephone="ngModel" name="telephone" id="telephone"
                 placeholder="Téléphone" [(ngModel)]="cooperator.telephone"
                 tel>
          <md-hint [hidden]="telephone.pristine || telephone.valid">
            <!-- TODO -->
          </md-hint>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput" dividerColor="primary">
          <input mdInput #address="ngModel" name="address" id="address"
                 placeholder="Adresse" [(ngModel)]="cooperator.address">
        </md-input-container>
      </p>
      <p>
        <label for="additionalCooperators">Si il y a plus d'une personne sur votre contrat légumes, indiquez le nombre de personnes supplémentaires (vous pourrez alors choisir lors de l'inscription à la distribution de légumes le nombre de personnes participantes):</label>
        <br>
        <md-radio-group class="radio-group"
                        id="additionalCooperators"
                        name="additionalCooperators"
                        [(ngModel)]="cooperator.additionalCooperators">
          <md-radio-button class="radio-button" [value]="0">
            0
          </md-radio-button>
          <md-radio-button class="radio-button" [value]="1">
            1
          </md-radio-button>
          <md-radio-button class="radio-button" [value]="2">
            2
          </md-radio-button>
        </md-radio-group>
      </p>

      <md-card-actions>
        <div *ngIf="saveError" class="errorAction">Erreur : {{saveError}}</div>
        <button type="button" md-button color="primary" (click)="cancel()">Annuler</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!cooperatorForm.form.valid">
          Modifier
        </button>
      </md-card-actions>
    </form>
  </md-card-content>

</md-card>
