/*
 *     PAMA
 *     Copyright (C) 2016  Litote
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.formInput {
  width: 100%;
}

.error {
  color: red;
}

.errorAction {
  color: red;
  padding-left: 20px;
  padding-bottom: 10px;
}

.success {
  color: green;
}

.spinner {
  width: 36px;
  height: 36px;
}

.contract {
  width: 150px;
}

.radio-button {
  margin: 5px;
}
