<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-sidenav-container>
  <md-sidenav #sidenav mode="side" class="app-sidenav">
    <button md-icon-button class="menu-close" #closeStartButton (click)="sidenav.close()">
      <md-icon class="md-24">close</md-icon>
    </button>

    <ul class="ul-sidenav">
      <li>
        <a routerLink="/panier">
          <md-icon class="aligned-icon">local_offer</md-icon>
          Prochain Panier
        </a>
      </li>
      <li>
        <a routerLink="/calendrier">
          <md-icon class="aligned-icon">insert_invitation</md-icon>
          Calendrier
        </a>
      </li>
      <li *ngIf="!loggedCooperator.isLogged()">
        <a routerLink="/login">
          <md-icon class="aligned-icon">power_settings_new</md-icon>
          S'identifier
        </a>
      </li>
      <li *ngIf="loggedCooperator.isLogged()">
        <a routerLink="/mon-compte">
          <md-icon class="aligned-icon">account_box</md-icon>
          Mon compte
        </a>
      </li>
      <li *ngIf="loggedCooperator.isAdmin()">
        <a routerLink="/admin">
          <md-icon class="aligned-icon">settings applications</md-icon>
          Administration
        </a>
        <ul>
          <li>
            <a [routerLink]="['/admin']" [queryParams]="{tab: 'distributions'}">
              <md-icon class="aligned-icon">access_time</md-icon>
              Distributions
            </a>
          </li>
          <li>
            <a [routerLink]="['/admin']" [queryParams]="{tab: 'cooperators'}">
              <md-icon class="aligned-icon">face</md-icon>
              Membres
            </a>
          </li>
          <li>
            <a [routerLink]="['/admin']" [queryParams]="{tab: 'products'}">
              <md-icon class="aligned-icon">nature</md-icon>
              Produits
            </a>
          </li>
          <li>
            <a [routerLink]="['/admin/alerts']">
              <md-icon class="aligned-icon">add_alert</md-icon>
              Alertes
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </md-sidenav>

  <md-toolbar color="primary" style="min-width:300px">
    <button class="app-icon-button app-menu-button" (click)="sidenav.toggle()">
      <i class="material-icons app-toolbar-menu">menu</i>
    </button>

    <a routerLink="/" class="app-title">AMAP Versailles</a>

    <span class="app-toolbar-filler"></span>

    <span *ngIf="loggedCooperator.isLogged()" style="color:white;">
      {{loggedCooperator.cooperator.firstName}}
    </span>
    <button *ngIf="loggedCooperator.isLogged()" class="app-icon-button" (click)="logout()" md-tooltip="Se déconnecter">
      <i class="material-icons app-toolbar-menu">exit_to_app</i>
    </button>

    <button *ngIf="!loggedCooperator.isLogged()" md-icon-button [routerLink]="['/login']" md-tooltip="S'identifier">
      <md-icon class="md-24">power_settings_new</md-icon>
    </button>

  </md-toolbar>

  <div style="min-height:600px;min-width:300px">
    <router-outlet></router-outlet>
  </div>

</md-sidenav-container>


