/*
 *     PAMA
 *     Copyright (C) 2016  Litote
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.app-sidenav {
  padding: 10px;
  min-width: 100px;
  overflow-y: visible;
}

.mat-sidenav.mat-sidenav-side {
  z-index:-1;
}

.app-toolbar-filler {
  flex: 1 1 auto;
}

.app-toolbar-menu {
  padding: 0 14px 0 14px;
  color: white;
}

.app-sidenav-header {
  height: 6px;
}

.app-menu-button {
  min-width: 40px;
}

.menu-title {
  position: absolute;
  top:0;
}

.menu-close {
  position: absolute;
  right: 0;
  top:0;
}

.ul-sidenav {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
}

.ul-sidenav li {
  float: none;
  line-height: 36px;
  list-style-type: none;
}

.aligned-icon {
  float: left;
  line-height: 36px;
  margin: 0 6px 0 0;
  width: 24px;
}


.app-content {
  padding: 20px;
}

.app-content md-card {
  margin: 20px;
}

.app-content md-checkbox {
  margin: 10px;
}

.app-action {
  display: inline-block;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.app-spinner {
  height: 30px;
  width: 30px;
  display: inline-block;
}

.app-input-icon {
  font-size: 16px;
}

.app-progress {
  margin: 20px;
}

.app-title {
  text-decoration: none;
  color:white;
  padding-left: 5px;
}
