<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card *ngIf="distribution">
  <md-card-header class="basket-card-header">
    <img *ngIf="selectedProduct" class="mat-card-avatar" src="/assets/images/{{selectedProduct.image256()}}.png">
    <img *ngIf="!selectedProduct" class="mat-card-avatar" src="/assets/images/vegetables_256.png">
    <md-card-title>Détail de la distribution du {{distribution.distribution.date | amDateFormat: 'D MMMM YYYY'}}
      <a class="details"
         [routerLink]="['/panier']"
         [queryParams]="{distributionId: distribution.distribution._id}">vue simplifiée
        <md-icon class="details-icon">change_history</md-icon>
      </a>
    </md-card-title>
    <md-card-subtitle>Entre 19h et 20h</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <distribution-subscriber
      *ngIf="loggedCooperator.isLogged()"
      [distribution]="distribution.distribution"
      [cooperators]="distribution.cooperators"
      [distributionDetails]="true"></distribution-subscriber>

    <div *ngIf="distribution.distribution.hasAppleBearProduct()">
      <br>
      <md-card-title>Fruits distribués</md-card-title>
      <ul *ngFor="let p of distribution.distribution.getAppleBearProducts()">
        <li>{{p.name}}</li>
      </ul>
    </div>
    <br>
    <div *ngIf="distribution.distribution.hasVegetableProduct()">
      <md-card-title>Légumes distribués</md-card-title>
      <ul *ngFor="let p of distribution.distribution.getVegetableProducts()">
        <li (mouseover)="selectProduct(p)">{{p.name}}</li>
      </ul>
      <img class="product-image"
           src="/assets/images/{{selectedProduct.image256()}}.png"
           alt="{{selectedProduct.name}}">
    </div>
    <div *ngIf="distribution.distribution.hasVegetableType() && !distribution.distribution.hasProduct()">
      {{distribution.distribution.vegetablesListText()}}
    </div>
  </md-card-content>
  <md-card-actions>
    <button md-raised-button
            [routerLink]="['/panier']"
            [queryParams]="{distributionId: distribution.distribution._id}">Vue simplifiée</button>
    <button md-raised-button color="accent" [routerLink]="['/calendrier']">Calendrier</button>
  </md-card-actions>
</md-card>
