<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card *ngIf="distribution" class="no-shadow">
  <md-card-header class="basket-card-header">
    <img *ngIf="selectedProduct" class="mat-card-avatar" src="/assets/images/{{selectedProduct.image256()}}.png">
    <img *ngIf="!selectedProduct" class="mat-card-avatar" src="/assets/images/vegetables_256.png">
    <md-card-title>
      Distribution du {{distribution.distribution.date | amDateFormat: 'D MMMM YYYY'}} <a class="details"
                                                                                          routerLink="/panier/details/{{distribution.distribution._id}}">détails
      <md-icon class="details-icon">details</md-icon>
    </a>
    </md-card-title>
    <md-card-subtitle>Entre 19h et 20h</md-card-subtitle>
  </md-card-header>
  <md-card-content>
    <distribution-subscriber
      *ngIf="loggedCooperator.isLogged()"
      [distribution]="distribution.distribution"
      [cooperators]="distribution.cooperators"
      [distributionDetails]="false"></distribution-subscriber>

    <div *ngIf="distribution.distribution.hasVegetableType() && !distribution.distribution.hasVegetableProduct()">
      <br>
      {{distribution.distribution.vegetablesListText()}}
    </div>
  </md-card-content>
  <md-card-actions>
    <button [disabled]="!distribution.previous" md-raised-button [routerLink]="['/panier']"
            [queryParams]="{distributionId: distribution.previous}">Précédent
    </button>
    <button [disabled]="!distribution.next" md-raised-button color="primary" [routerLink]="['/panier']"
            [queryParams]="{distributionId: distribution.next}">Suivant
    </button>
    <button md-raised-button color="accent" [routerLink]="['/calendrier']">Calendrier</button>
  </md-card-actions>
</md-card>

<div *ngIf="distribution && distribution.distribution.hasVegetableProduct()">

  <div style="font-size: smaller;padding-left: 20px;padding-top:10px">Voir les
    <a [routerLink]="['/recette']" [queryParams]="{distributionId: distribution.distribution._id}">recettes
      recommandées</a>
    pour les légumes distribués : {{distribution.distribution.vegetablesListText()}}
  </div>
  <br>

  <div style="margin-left: auto;margin-right: auto;" [style.width]="gridWidth + 'px'"
       (window:resize)="onResize($event.target.innerWidth)">
    <masonry [options]="{columnWidth:128}">
      <masonry-brick class="brick" *ngFor="let p of distribution.distribution.getVegetableProducts()">
        <div class="product-link">
          <a [routerLink]="['/recette']" [queryParams]="{productId: p._id}">
            <div class="circular"
                 [ngStyle]="{'background-image': 'url(/assets/images/' + p.image256() + '.png)'}"
                 title="{{p.name}}"
                 (mouseover)="selectProduct(p)"></div>
          </a>
          <!--span class="image-caption">{{p.name}}</span-->
        </div>
      </masonry-brick>
    </masonry>
  </div>
</div>
<br>
<br>
<br>
<br>
<br>
