/*
 *     PAMA
 *     Copyright (C) 2016  Litote
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License as
 *     published by the Free Software Foundation, either version 3 of the
 *     License, or (at your option) any later version.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU Affero General Public License for more details.
 *
 *     You should have received a copy of the GNU Affero General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.
 *
 */

.no-shadow {
  box-shadow: none;
}

.basket-card-header {
}
.title {
  font-size: larger;
}

.details {
  float: right;
  padding-left: 10px;
}

.details-icon {
  float: inherit;
  line-height: 16px;
  margin: 0 6px 0 0;
}


@media screen and (min-width: 600px) {
  .product-image {
    position: absolute;
    right: 0;
    top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .product-image {
    display: none;
  }
}

.product-link {
  width: 128px;
  height: 128px;
}

.image-caption {
  bottom: 0;
  right: 2px;
  position: absolute;
}

.center {
  display: block;
  margin: 0 auto;
}

.circular {
  width: 128px;
  height: 128px;
  border-radius: 64px;
  -webkit-border-radius: 64px;
  -moz-border-radius: 64px;
  box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, .8);
  background-repeat:no-repeat;
  background-position:center center;
}
