<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<h2 *ngIf="!viewInThePast"> Prochaines distributions
  <button md-raised-button color="accent" (click)="changeViewInThePast(true)">Afficher les
    anciennes distributions
  </button>
</h2>
<h2 *ngIf="viewInThePast"> Toutes les distributions
  <button md-raised-button color="accent" (click)="changeViewInThePast(false)">Cacher les
    anciennes distributions
  </button>
</h2>
<div>
  <md-grid-list *ngIf="distributions" [cols]="nbCols" rowHeight="200px">
    <md-grid-tile class="brick" *ngFor="let distribution of distributions">
      <md-card style="width:300px;height:190px;background-color: #D1C4E9">
        <md-card-header class="header">
          <md-card-title><a [routerLink]="['/panier']" [queryParams]="{distributionId: distribution._id}">Distribution
            du
            {{distribution.date | amDateFormat: 'D MMMM YYYY'}}</a>
          </md-card-title>
          <md-card-subtitle>Entre 19h et 20h</md-card-subtitle>
        </md-card-header>
        <md-card-content>
          <distribution-subscriber
            *ngIf="loggedCooperator.isLogged()"
            [distribution]="distribution"
            [cooperators]="distributionCalendar.cooperators"
            [distributionDetails]="false"
            [userDistributionMention]="false"></distribution-subscriber>
        </md-card-content>
      </md-card>
    </md-grid-tile>
  </md-grid-list>
</div>
