<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card *ngIf="allProducts" class="demo-card demo-basic">
  <md-toolbar color="accent">Recherche de recettes</md-toolbar>
  <md-card-content>
    <form (ngSubmit)="onSubmit()" #distributionForm="ngForm">

      <div style="width: 300px; margin-bottom: 20px;">
        <h3>Légumes :</h3>
        <ng-select *ngIf="allProducts"
                   multiple="true"
                   name="products"
                   [options]="allProducts"
                   [(ngModel)]="productsIds"
                   [allowClear]="true"
                   [placeholder]="'Aucun légume sélectionné'"
                   (selected)="selected($event.value)"
                   (deselected)="deselected($event.value)"></ng-select>
      </div>

      <md-card-actions>
        <button md-raised-button color="primary" type="submit">Rechercher</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>

<md-list *ngIf="recipes && allProducts">
  <div *ngIf="recipes.length == 0">Désolé pas de recette trouvée! :(</div>
  <md-list-item *ngFor="let r of recipes">
    <h3 md-line><img *ngFor="let p of r.getProducts(allProducts,productsIds)" md-list-avatar
                     src="/assets/images/{{p.image256()}}.png" title="{{p.name}}" alt="{{p.name}}"> </h3>
    <p md-line>
      <a routerLink="/recette/{{r._id}}">{{r.title}}</a>
      <span class="subtitle">{{r.durationLabel}}</span>
    </p>
  </md-list-item>
</md-list>
