<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="">
  <md-toolbar color="accent">Demander la réinitialisation de votre mot de passe</md-toolbar>
  <md-card-content>
    <md-spinner *ngIf="sendMessage" class="spinner"></md-spinner>
    <p *ngIf="errorMessage" class="error">
      {{errorMessage}}
    </p>
    <p *ngIf="message" class="success">
      {{message}}
      <br><br>
      <a [routerLink]="['/login']">S'identifier</a>
    </p>
    <form *ngIf="!message" (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()" #passwordReminderForm="ngForm">
      <p>
        <md-input-container #emailInputContainer class="formInput">
        <input mdInput #emailInput name="emailInput" id="emailInput"
                  placeholder="E-MAIL"
                  [(ngModel)]="email"
                  required email>
        </md-input-container>
      </p>
      <md-card-actions>
        <button type="button" md-button color="primary" (click)="cancel()">Annuler</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!passwordReminderForm.form.valid">Valider</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>


