<!--
  ~     PAMA
  ~     Copyright (C) 2016  Litote
  ~
  ~     This program is free software: you can redistribute it and/or modify
  ~     it under the terms of the GNU Affero General Public License as
  ~     published by the Free Software Foundation, either version 3 of the
  ~     License, or (at your option) any later version.
  ~
  ~     This program is distributed in the hope that it will be useful,
  ~     but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~     GNU Affero General Public License for more details.
  ~
  ~     You should have received a copy of the GNU Affero General Public License
  ~     along with this program.  If not, see <http://www.gnu.org/licenses/>.
  ~
  -->

<md-card class="">
  <md-toolbar color="accent">Authentification</md-toolbar>
  <md-card-content>
    <md-spinner *ngIf="sendLogin" class="spinner"></md-spinner>
    <p *ngIf="errorMessage" class="error">
      {{errorMessage}}
    </p>
    <form (keydown.enter)="onSubmit()" (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <p>
        <md-input-container #emailContainer class="formInput">
          <input mdInput #emailInput name="emailInput" id="emailInput"
                 placeholder="E-MAIL"
                 [(ngModel)]="email"
                 required email>
        </md-input-container>
      </p>
      <p>
        <md-input-container class="formInput">
        <input mdInput #passwordInput name="passwordInput" id="passwordInput"
                  placeholder="MOT DE PASSE"
                  [(ngModel)]="password"
                  type="password"
                  required>
        </md-input-container>
      </p>
      <p class="password-reminder"><a [routerLink]="['/mot-de-passe-oublie']">Mot de passe oublié ?</a></p>
      <md-card-actions>
        <button type="button" md-button color="primary" (click)="cancel()">Annuler</button>
        <button md-raised-button color="primary" type="submit" [disabled]="!loginForm.form.valid">ME CONNECTER</button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>


